$peer = 100% / 24;
.vui-row
  &:after
    content ""
    display table
    clear both

.vui-col
  float left
  box-sizing border-box

for $grid in 1..24
  .vui-col-{$grid}
    width $grid * $peer
  .vui-col-offset-{$grid}
    margin-left $grid * $peer
